* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(13, 13, 13, 0.923);
}

p {
    font-size: 1em;
}

.container {
    width: 1360px;
    margin: 0 auto;

}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    z-index: 999;
    margin-bottom: 50px;
}

.container-nav h1 {
    padding: 10px;
    color: rgb(8, 200, 136);
    text-shadow: 2px 2px 6px blueviolet;
    margin-left: 50px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item a {
    color: chartreuse;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
}

.nav-item a:hover {
    color: azure;
    transition: .3s ease;
}

.articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.articles article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgb(60, 56, 56);
}

.articles article {
    width: 30%;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: dodgerblue;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    margin-top: 6px;
}

.articles article a:hover {
    background-color: aquamarine;
    color: black;
    animation: pulse 1s 0.3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#tecnology {
    background-color: black;
    margin-top: 50px;
}

#tecnology h2 {
    padding: 30px;
    color: blueviolet;
}

#tecnology h3 {
    color: rgb(81, 174, 255);
}

#tecnology time {
    color: aliceblue;
}

#tecnology p {
    color: aliceblue;
}

#tecnology article img {
    box-shadow: 2px 2px 2px 2px rgb(250, 251, 224);
}

#sports {
    background-color: rgb(217, 3, 3);
}

#sports article a {
    background-color: yellow;
    color: black;
}

#sports article a:hover {
    background-color: rgb(0, 106, 255);
    color: rgb(52, 7, 7);
}

#sports h2 {
    padding: 30px;
    color: rgb(246, 254, 16);
}

#sports h3 {
    color: rgb(81, 174, 255);
}

#sports time {
    color: aliceblue;
}

#sports p {
    color: aliceblue;
}

#sports article img {
    box-shadow: 2px 2px 2px 2px rgb(248, 245, 93);
}

#travels {
    background-color: rgb(251, 4, 201);
}

#travels h2 {
    padding: 30px;
    color: rgb(41, 6, 199);
}

#travels h3 {
    color: rgb(81, 174, 255);
}

#travels time {
    color: aliceblue;
}

#travels p {
    color: rgb(0, 7, 12);
}

#travels article img {
    box-shadow: 2px 2px 2px 2px rgb(3, 236, 225);
}

#travels article a {
    background-color: rgb(8, 8, 0);
    color: rgb(246, 238, 238);
}

#travels article a:hover {
    background-color: rgb(255, 0, 13);
    color: rgb(52, 7, 7);
}

#economy {
    background-color: rgba(68, 2, 2, 0.451);
}

#economy h2 {
    padding: 30px;
    color: rgb(226, 205, 43);
}

#economy h3 {
    color: rgb(81, 174, 255);
}

#economy time {
    color: rgb(214, 234, 252);
}

#economy p {
    color: rgba(240, 248, 255, 0.618);
}

#economy article a {
    background-color: rgb(242, 163, 5);
    color: rgb(21, 4, 4);
}

#economy article a:hover {
    background-color: rgba(255, 132, 0, 0.366);
    color: rgb(198, 249, 253);
}

#economy article img {
    box-shadow: 2px 2px 2px 2px rgb(253, 138, 14);
}

footer {
    border-top: solid rgba(255, 255, 255, 0.147);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #fff;
}